<footer class="bg-red">
    <div class="container pt-60 pb-32">
        <div class="flex space-between align-center">
            <ul class="footer-nav flex">
                <li class="mr-48"><a href="../pages/products.html">首頁</a></li>
                <li class="mr-48"><a href="">系列鏡框</a></li>
                <li class="mr-48"><a href="">門市據點</a></li>
                <li class="mr-48"><a href="">部落格</a></li>
                <li class="mr-48"><a href="../pages/faq.html">常見問題</a></li>
            </ul>
            <ul class="social-icons flex">
                <li><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic-social-fb.png?raw=true" alt=""></li>
                <li><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_ig.png?raw=true" alt=""></li>
                <li><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_line.png?raw=true" alt=""></li>
            </ul>
        </div>
        <div class="phone">
            <span class="material-symbols-outlined mr-20">
                call
            </span>
            0800-000-000
        </div>
        <div class="email">
            <span class="material-symbols-outlined mr-20">
                mail
            </span>
            glasses@business.com
        </div>
        <hr class="mt-32">
        <div class="mt-32 flex space-between">
            <div class="copywrite white">                
                Copyright © 2020 Glasses.All rights reserved.
            </div>
            <div class="terms">
                <ul class="flex white">
                    <li class="mr-48"><a href="">隱私權政策</a></li>
                    <li><a href="">服務條款</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="p-footer py-24">
        <div class="flex space-between ">
            <div class="info">
                <div class="phone">
                    <span class="material-symbols-outlined mr-8">
                        call
                    </span>
                    0800-000-000
                </div>
                <div class="email mt-8">
                    <span class="material-symbols-outlined mr-8">
                        mail
                    </span>
                    glasses@business.com
                </div>
            </div>
            <ul class="social-icons flex">
                <li><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic-social-fb.png?raw=true" alt=""></li>
                <li><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_ig.png?raw=true" alt=""></li>
                <li><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_line.png?raw=true" alt=""></li>
            </ul>
        </div>
        <hr class="mt-16">
        <div class="copywrite white mt-16">                
            Copyright © 2020 Glasses.All rights reserved.
        </div>
        <div class="terms">
            <ul class="white">
                <li class="mt-8"><a href="">隱私權政策</a></li>
                <li class="mt-8"><a href="">服務條款</a></li>
            </ul>
        </div>

        
    </div>
</footer>