<header class="bg-red">
    <nav class="container">
        <a href="../pages/products.html">
            <img class="logo" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true" alt="">
        </a>
        <ul class="nav-list">
            <li class="nav-item"><a href="" class="white">系列鏡框</a></li>
            <li class="nav-item"><a href="" class="white">門市據點</a></li>
            <li class="nav-item"><a href="" class="white">部落格</a></li>
            <li class="nav-item"><a href="../pages/faq.html" class="white">常見問題</a></li>
        </ul>
    </nav>
</header>