.page-title{
    border-left: 8px solid #9F1213;
    padding-left: 16px;
    font-size: 48px;
}



// tablet
@media(max-width: 992px){

    .faq{
        // margin-left: 5%;
        // margin-right: 5%;
        width: 90%;
    }
}

@media(max-width: 767px){
    // .f
}