<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link rel="stylesheet" href="./assets/scss/all.scss">
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <ul class="tab-list flex ">
      <li class="tab-item tab-on py-24"><a href="" class="black">OPTICAL</a></li>
      <li class="tab-item py-24"><a href="" class="black">SUNGLASSES</a> </li>
      <li class="tab-item py-24"><a href="" class="black">FUNCTIONAL</a> </li>
  </ul>
  <div class="banners flex flex-center">
      <div class="banner1"></div>
      <div class="banner2"></div>
  </div>
  <div class="container py-80 text-center">
      <div class="tab-title">Celluloid Combi</div>
      <div class="tab-subtitle">賽璐珞鈦金屬混合鏡框</div>
      <div class="flex space-between wrap mt-32">
          <div class="card mb-80">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-1.png?raw=true" alt="">
              <div class="flex space-between">
                  <div class="card-text text-regular ">BJ41600S</div>
                  <div class="card-text text-medium red">NTD3,490</div>
              </div>
              <div class="flex">
                  <div class="color-box d-brown mr-8"></div>
                  <div class="color-box l-brown"></div>
              </div>
          </div>
          <div class="card mb-80">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-1.png?raw=true" alt="">
              <div class="flex space-between">
                  <div class="card-text text-regular ">BJ41600S</div>
                  <div class="card-text text-medium red">NTD3,490</div>
              </div>
              <div class="flex">
                  <div class="color-box d-brown mr-8"></div>
                  <div class="color-box l-brown"></div>
              </div>
          </div>
          <div class="card mb-80">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-1.png?raw=true" alt="">
              <div class="flex space-between">
                  <div class="card-text text-regular ">BJ41600S</div>
                  <div class="card-text text-medium red">NTD3,490</div>
              </div>
              <div class="flex">
                  <div class="color-box d-brown mr-8"></div>
                  <div class="color-box l-brown"></div>
              </div>
          </div>
          <div class="card mb-80">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-1.png?raw=true" alt="">
              <div class="flex space-between">
                  <div class="card-text text-regular ">BJ41600S</div>
                  <div class="card-text text-medium red">NTD3,490</div>
              </div>
              <div class="flex">
                  <div class="color-box d-brown mr-8"></div>
                  <div class="color-box l-brown"></div>
              </div>
          </div>
          <div class="card mb-80">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-1.png?raw=true" alt="">
              <div class="flex space-between">
                  <div class="card-text text-regular ">BJ41600S</div>
                  <div class="card-text text-medium red">NTD3,490</div>
              </div>
              <div class="flex">
                  <div class="color-box d-brown mr-8"></div>
                  <div class="color-box l-brown"></div>
              </div>
          </div>
          <div class="card mb-80">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-1.png?raw=true" alt="">
              <div class="flex space-between">
                  <div class="card-text text-regular ">BJ41600S</div>
                  <div class="card-text text-medium red">NTD3,490</div>
              </div>
              <div class="flex">
                  <div class="color-box d-brown mr-8"></div>
                  <div class="color-box l-brown"></div>
              </div>
          </div>
          <div class="card mb-80">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-1.png?raw=true" alt="">
              <div class="flex space-between">
                  <div class="card-text text-regular ">BJ41600S</div>
                  <div class="card-text text-medium red">NTD3,490</div>
              </div>
              <div class="flex">
                  <div class="color-box d-brown mr-8"></div>
                  <div class="color-box l-brown"></div>
              </div>
          </div>
          <div class="card mb-80">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-1.png?raw=true" alt="">
              <div class="flex space-between">
                  <div class="card-text text-regular ">BJ41600S</div>
                  <div class="card-text text-medium red">NTD3,490</div>
              </div>
              <div class="flex">
                  <div class="color-box d-brown mr-8"></div>
                  <div class="color-box l-brown"></div>
              </div>
          </div>
          <div class="card mb-80">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-1.png?raw=true" alt="">
              <div class="flex space-between">
                  <div class="card-text text-regular ">BJ41600S</div>
                  <div class="card-text text-medium red">NTD3,490</div>
              </div>
              <div class="flex">
                  <div class="color-box d-brown mr-8"></div>
                  <div class="color-box l-brown"></div>
              </div>
          </div>
          <div class="card mb-80">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-1.png?raw=true" alt="">
              <div class="flex space-between">
                  <div class="card-text text-regular ">BJ41600S</div>
                  <div class="card-text text-medium red">NTD3,490</div>
              </div>
              <div class="flex">
                  <div class="color-box d-brown mr-8"></div>
                  <div class="color-box l-brown"></div>
              </div>
          </div>
          <div class="card mb-80">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-1.png?raw=true" alt="">
              <div class="flex space-between">
                  <div class="card-text text-regular ">BJ41600S</div>
                  <div class="card-text text-medium red">NTD3,490</div>
              </div>
              <div class="flex">
                  <div class="color-box d-brown mr-8"></div>
                  <div class="color-box l-brown"></div>
              </div>
          </div>
          <div class="card mb-80">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-1.png?raw=true" alt="">
              <div class="flex space-between">
                  <div class="card-text text-regular ">BJ41600S</div>
                  <div class="card-text text-medium red">NTD3,490</div>
              </div>
              <div class="flex">
                  <div class="color-box d-brown mr-8"></div>
                  <div class="color-box l-brown"></div>
              </div>
          </div>
      </div>
  </div>
  <ul class="pagination text-center mb-80">
      <li><a href="">上一頁</a></li>
      <li><a href="">1</a></li>
      <li class="page-active"><a href="">2</a></li>
      <li><a href="">3</a></li>
      <li><a href="">4</a></li>
      <li><a href="">5</a></li>
      <li><a href="">下一頁</a></li>
  </ul>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
